name: Test, Build and Publish a Docker image
on:
  release:
    types: [published]
  push:
    branches:
      - "2-publish-artifacts-3"
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install Nix
        uses: cachix/install-nix-action@v16
        with:
          nix_path: nixpkgs=channel:nixos-22.05
      - name: Load Cachix
        uses: cachix/cachix-action@v10
        with:
          name: pete1232
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
          # Regular expression to exclude derivations for the cache push, for example "(-source$|nixpkgs\.tar\.gz$)".
          # Warning: this filter does not guarantee it will not get pushed in case the path is part of the closure of something that will get pushed.
          # filter out: sources files, docker-layers (which will change with each source update
          # this will leave: caches of the tagged versions of public repositories, sbt-dependencies which will only change on build updates
          pushFilter: (.*docker.*$|.*subscription-cqrs-latest$|.*runtime-deps$|.*extract-dependencies$|.*config.json$)
      - name: Check flake
        run: nix flake check
      - name: Test, Compile and Assemble
        id: build
        run: echo "::set-output name=build_id::$(nix build --json | jq -r '.[].outputs | to_entries[].value')"
      - name: Try to log
        run: echo "${{ steps.build.outputs.build_id }}"
      - name: Try to find
        run: echo "$([[ -e ${{ steps.build.outputs.build_id }} ]] && echo "File exist" || echo "File not found")"
      - name: Log in to the Container registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Docker Load
        run: docker load -i ${{ steps.build.outputs.build_id }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: ${{ env.REGISTRY }}/${{ github.actor }}/${{ env.IMAGE_NAME }}
      - name: Docker tag
        run: docker tag {{ env.IMAGE_NAME }}:latest ${{ steps.meta.outputs.tags }}
      - name: Docker push
        run: docker push ${{ steps.meta.outputs.tags }}
